body {
    justify-content: center;
    justify-self: center;
    background-color: black;
    color: wheat;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    align-self: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.current-location {
    align-self: center;
    font-size: 30px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.search-box {
    align-self: center;
    display: flex;
    gap: 10px;
    padding-bottom: 100px;

    #search-input {
        height: 40px;
        width: 250px;
        background-color: black;
        color: wheat;
        font-size: large;
        border-radius: 10px;
        border: 2px solid wheat;        
        padding-left: 10px;

    }

    #search-button {
        height: 45px;
        width: 100px;
        background-color: black;
        color: wheat;
        font-size: large;
        border-radius: 10px;
        border: 10px;
        border: 2px solid wheat;        

    }

    #search-button:hover {
        background-color: wheat;
        border: 2px solid black;
        color: black;        

    }
}

#changeTemp {
    align-self: center;
    border-radius: 20px;
    height: 30px;
    width: 770px;
    border: 3px solid wheat;
    background-color: black;
    color: wheat;
}

.content {
    display: flex;
    gap: 30px;
    padding: 10px;

    .temperature {
        width: 130px;
        height: 130px;
        color: black;
        font-size: 40px;
        background-color: wheat;
        border-radius: 20px;
        padding: 20px;
        border: 8px solid white;
    }

    .conditions {
        width: 130px;
        height: 130px;
        color: black;
        font-size: larger;
        background-color: wheat;
        border-radius: 20px;
        padding: 20px;
        border: 8px solid white;
    }

    .description {
        width: 280px;
        height: 130px;
        color: black;
        font-size: larger;
        background-color: wheat;
        border-radius: 20px;
        padding: 20px;
        border: 8px solid white;
    }

}